<!DOCTYPE html>
<html>
<head>
	<title>TODO List</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <main>
    	   <!--     Application Head        -->
    	<h1 class="borders">TODO App</h1>

			<!--     input form of task addition section        -->
			 
    	<form action="/add-task" method="POST" id="addition-form">
    		<div id="desc" class="form-parts borders">
    		<label for="desc">description</label>
    		<input type="text" name="desc" id="desc" placeholder="What do you need to do?" required>
          	</div>
          	<div class="horizonatal-align" id="form-parts-2">
          		<div class="form-parts borders">
          			<label for="category">category</label>
    		        <select id="category" name="category" required>
    		        	<option>personal</option>
    		        	<option>college</option>
    		        	<option>work</option>
    		        	<option>cleaning</option>
    		        	<option>other</option>
    		        </select>
          		</div>
          		<div class="form-parts borders">
          			<label for="dueDate">due date</label>
          			<input type="date" name="dueDate" id="dueDate" required>
          		</div>	
          	</div>
          	<div class="form-parts borders">
				 <div class="horizonatal-align button-container"><button id="add-btn"><i class="fa fa-plus" aria-hidden="true"></i>add task</button></div>
			</div>
			</form> 

             <!--     view and delete task form section        -->
			<form action="/delete-task" method="POST" id="view-and-deletion-form">
            <div class="horizonatal-align button-container borders"><button id="del-btn"><i class="fa fa-trash" aria-hidden="true"></i>delete task</button></div> 
			<!--      section for number of tasks in list      -->
			<div id="task-count-container"><b>total task: <span id="task-count"><%= taskList.length %></span></b></div>
    	    <!--     list Section        -->

    	<div id="list-container">

    		<ul>
				<% mlist = [ "JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC" ]; 
				for( let i of taskList ) { %>
    			<li class="borders horizonatal-align">
					<input type="checkbox" name="id" value="<%= i._id %>" />
    				<label class="horizonatal-align">
    					<div class="item-desc">
    					<div><%= i.description %></div>
						<div class="item-date"><i class="fa fa-calendar" aria-hidden="true"></i> <%= mlist[i.dueDate.getMonth()] +" "+ i.dueDate.getDay() +", "+i.dueDate.getFullYear()%></div>
    				    </div>
						<div class="category-box" <% let catgry= i.category 
						if(catgry==="personal")
						{%>
							style="background-color:green"
						<%}
						else if(catgry==="work"){%>
                            style="background-color:darkblue"
							<%}else if(catgry==="college"){%>
								style="background-color:violet"
								<%}else if(catgry==="cleaning"){%>
									style="background-color:blue"
									<%}else{%>
										style="background-color:#4e5d5d"
										<%}%>
						><%= i.category %></div>
    				</label>
				</li>
				<% } %>
    		</ul>

		</div>
	   </form>
    </main>
</body>
</html>